.calculator {
  margin-top: 7em;
}
.top-text {
  height: 3em;
  text-align: center;
}
.screen {
  height: 5em;
  background-color: #C3C2AB;
  text-align: right;
}
.result {
  height: 2em;
}
.input {
  height: 1em;
}
.key {
  border-radius: 10%;
  border-style: outset;
}
