.calculator {
  margin-top: 7em;
  padding: 0 10%;
  margin-left: auto;
  margin-right: auto;
}
.top-text {
  height: 3em;
  text-align: center;
}
.screen {
  height: 5em;
  background-color: #C3C2AB;
  text-align: right;
}
.result {
  height: 2em;
}
.input {
  height: 1em;
}
.key {
  border-radius: 10%;
  border-style: outset;
  height: 3em;
  text-align: center;
  padding-top: 0.5em;
}
.mousedown {
  border-style: inset;
}
@media all and (min-width: 500px) {
  .calculator .row {
    max-width: 450px;
  }
}
